@model FongJawWeb.Models.User
@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row justify-content-end mb-3">
        <div class="col-auto">
            <a asp-controller="Users" asp-action="Logout" class="btn btn-danger">Logout</a>
        </div>
    </div>

    <div class="card">
        <div class="card-header bg-primary text-white">
            <h2 class="mb-0">User Profile</h2>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <h4 class="card-title">Personal Information</h4>
                    <hr />
                    <dl class="row">
                        <dt class="col-sm-4">Name:</dt>
                        <dd class="col-sm-8">@Model.Name</dd>

                        <dt class="col-sm-4">Email:</dt>
                        <dd class="col-sm-8">@Model.Email</dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>
